:host {
    position: fixed;
    width: 100%;
}
h3 {
    margin: 0;
    font-weight: 600;
    font-size: 1.25rem;
    color: #007bff;
}
.header-container {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    height: 100%;

    p {
        margin: 0;
    }
}

.nav-container {
    display: flex;
    gap: 1rem;

    a {
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
        color: blue;
    }
}

.active-link {
    font-weight: bold;
    color: #007bff;
    border-bottom: 2px solid #007bff;
}