:host {
    position: fixed;
    width: 100%;
}

.header-container {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    height: 100%;

    p {
        margin: 0;
    }
}

.nav-container {
    display: flex;
    gap: 1rem;

    a {
        cursor: pointer;
    }
}