:host {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    input {
        border-radius: 12px;
        border: 1px solid;
    }

    button {
        cursor: pointer;
        padding: 0.5rem 0.5rem;
        border-radius: 6px;
        background-color: #007bff;
        color: white;
        border: none;
        font-size: 0.75rem;

        &:hover {
            background-color: #0056b3;
        }
    }
}