<div>
    <section class="section-selector">
        <button [ngStyle]="{ backgroundColor: showEnrolledCourses ? 'blue' : '' }"  (click)="showCourses(true)"> Enrolled Coures</button>
        <button [ngStyle]="{ backgroundColor: !showEnrolledCourses ? 'blue' : '' }" (click)="showCourses(false)">Explore Courses</button>
    </section>
    <section class="course-list">
        <ng-container *ngFor="let course of (showEnrolledCourses ? enrolledCourses : availableCourses)">
            <app-course [course]="course" (courseAction)="action($event)"></app-course>
        </ng-container>
    </section>
</div>
