<div>
    <section class="section-selector">
        <label> {{ showEnrolledCourses ? "Enrolled Courses" : "Explore Courses" }}</label>
       <button [ngStyle]="{ backgroundColor: !showEnrolledCourses ? 'blue' : '' }" (click)="showCourses(!showEnrolledCourses)">{{ showEnrolledCourses ? 'Explore' : 'Enrolled'}} Courses</button>
    </section>
    <section class="course-list">
        <ng-container *ngIf="(showEnrolledCourses ? enrolledCourses : availableCourses).length > 0; else emptyMessage">
            <ng-container *ngFor="let course of (showEnrolledCourses ? enrolledCourses : availableCourses)">
                <app-course [course]="course" (courseAction)="action($event)"></app-course>
            </ng-container>
        </ng-container>
        <ng-template #emptyMessage>
            <p class="empty-message">No courses available to display.</p>
        </ng-template>
    </section>
</div>
