:host {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    gap: 0.5rem;

    fieldset {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
        border-radius: 6px;
    }
}

button {
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 0.75rem;

    &:hover {
        background-color: #0056b3;
    }
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
  }